//
// 基础样式
//

.card {
	color: $card-color;
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	height: $card-height;
	word-wrap: break-word;
	background-color: $card-bg;
	background-clip: border-box;
	@include border-radius($card-border-radius);

	&.container-fluid {
		margin-top: 100px;
		box-sizing: border-box;
		border-radius: 0 !important;
		padding: $card-spacer-y $card-spacer-x;
	}
}

.card-header {
	display: flex;
	align-items: center;
	flex-flow: row nowrap;
	// padding: $card-cap-padding-y $card-spacer-x 0;
	margin-bottom: 0; // Removes the default margin-bottom of <hN>
	color: $card-cap-color;
	background-color: transparent;

	&:first-child {
		@include border-radius(
			$card-inner-border-radius $card-inner-border-radius 0 0
		);
	}
}

.card-body {
	flex: 1 1 auto;
	// overflow-x: hidden;
	// overflow-y: scroll;
	// padding: $card-cap-padding-y $card-spacer-x;
	color: $card-cap-color;
}

.card-img-badge {
	margin-right: $spacer;
	border-radius: $rounded-pill;
	width: $card-img-badge-width;
	height: $card-img-badge-height;
}

.card-nyoi {
	flex-grow: 1;
}

.card-jizai {
	&:not(:first-child) {
		font-size: $font-size-md;
		margin-left: $spacer;
	}
}

.card-title {
	font-size: $font-size-xl;
	font-weight: $font-weight-bold;
	margin-top: 0;
	margin-bottom: $card-title-spacer-y;
}

.card-subtitle {
	margin: 0;
}
