body {
	font-size: $font-size-md;
}

section.el-container {
	width: 100vw;
	height: 100vh;
	max-width: 100vw;
	max-height: 100vh;
	overflow: hidden;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('../img/img_bg.png');

	main.el-main {
		display: flex;
		align-items: center;
		padding: 0 !important;
		justify-content: center;
		flex-flow: column nowrap;
	}
}

.text-body {
	color: $gray-800 !important;
}

.bg-blur {
	overflow: hidden;
	color: $card-color;
	background-color: transparent !important;

	* {
		z-index: 1;
	}

	&::after,
	&::before {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 0;
		content: '';
		position: absolute;
	}

	&::before {
		background-color: rgba($color: $gray-900, $alpha: 1);
	}
	&::after {
		opacity: 0.42;
		filter: blur(12px);
		background-size: cover;
		background-position: left center;
		background-image: url('../img/img_bg.png');
	}
}
