.table {
 .ant-descriptions-title {
  text-align: center;

  @extend .fs-5;
 }

 .ant-descriptions-item-label {
  text-align-last: justify;
 }

 .ant-descriptions-item-label,
 .ant-descriptions-item-content {
  font-size: $font-size-sm;

  @extend .p-0;
 }
 .ant-descriptions-view,
 .ant-descriptions-row,
 .ant-descriptions-item-label,
 .ant-descriptions-item-content {
  border: none !important;
 }
}
