/// 网格系统
//
// 使用这些混合指令生成语义化网格列

@mixin make-row-grid($gutter: $grid-gutter-width) {
	display: grid;
	grid-row-gap: #{$gutter};
	grid-column-gap: #{$gutter};
}

@mixin row-cols($count) {
	// grid-template-rows: repeat($count, 1fr);
	grid-template-columns: repeat($count, 1fr);
}

@mixin make-grid-columns($columns: $grid-row-columns) {
	@if $grid-row-columns>0 {
		@for $i from 1 through $grid-row-columns {
			.row-grid-#{$i} {
				@include row-cols($i);
			}
		}
	}
}
