.tzu-card {
	display: flex;
	overflow: hidden;
	text-align: center;
	align-items: center;
	justify-content: center;
	flex-flow: column nowrap;
	border-radius: @border-radius-base;
	background-color: rgba(19, 19, 19, 0.42);

	> * {
		width: 100%;
	}

	&-header {
		margin-bottom: 42px;
	}

	&-body {
		flex: auto;
		overflow-y: scroll;
	}
}
