#colors() {
	white: #fff;
	gray-100: #131313;
	gray-200: #333;
	black: #000;
}

@width: 100vw;
@height: 100vh;

#containers() {
	sm: 256px;
	md: 540px;
	lg: 960px;
	xl: 1024px;
	xxl: 1280px;
}

@spacer: 1rem;

@grid-column: 6;
@grid-gap: @spacer * 1.5;
