#colors() {
	white: #fff;
	gray-100: #131313;
	gray-200: #333;
	gray-300: #666;
	black: #000;
}

@width: 100vw;
@height: 100vh;

#containers() {
	sm: 256px;
	md: 540px;
	lg: 960px;
	xl: 1024px;
	xxl: 1280px;
}

@spacer: 1rem;

@grid-column: 6;
@grid-gap: @spacer * 1.5;

@font-size: {
	sm: @spacer * 0.875;
	base: @spacer * 1.125;
	lg: @spacer * 1.25;
	xl: @spacer * 1.375;
};
